body {
  background-color: rgb(212, 206, 206);
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  text-align: center;
  padding-top: 10px;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.header__title {
  font-size: 30px;
}

.header__subtitle {
  color: rgb(156, 38, 32);
}

.main {
  border: 2px solid black;
  text-align: center;
}


.skills__title {
  font-size: 30px;
}

.skills__accord {
  color: rgb(36, 83, 145);
}

.accord__title {
  font-size: 25px;
}

.accord__list {
  list-style-type: none;
}

.accord__list-item {
  font-size: 20px;
  margin-bottom: 3px;
}

.about,
.gallery {
  width: 50%;
  margin: 50px auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery__img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.separator {
  width: 50%;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

.video {
  margin-bottom: 50px;
}

.video iframe {
  padding-top: 20px;
  width: 50%;
  height: 600px;
}

.hobby {
  padding: 25px 0px;
}

.hobby__accord {
  font-size: 25px;
  color: green;
}

.hobby__list-item {
  list-style-type: none;
  margin-bottom: 5px;
}

.quote {
  color: rgb(22, 34, 61);
  font-size: 50px;
}

.interaction {
  margin-bottom: 150px;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.form__title {
  font-size: 25px;
  margin: 0;
}

.form__title,
.form__group-title,
.form__label {
  color: rgb(36, 73, 116);
}

.form__group-title {
  font-size: 20px;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__message {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  resize: none;
}

.form__button {
  background-color: rgb(0, 81, 255);
  border: none;
  width: 120px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  border-radius: 5px;
}

.form__button:hover {
  background-color: rgb(75, 86, 185);
}

.footer {
  background-color: rgb(158, 158, 158);
}

.address {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  max-width: 300px;
  color: rgb(207, 74, 22);
  text-decoration: none;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}